
/*css for the train station app*/

.jumbotron {
    background-color: #007bff;
    color: white;
}
.tabcenter {
  text-align:center;
}

.btn-modify {
  margin-left:20px;
}

.modal-title {
  background-color: #007bff;
  text-align:center;
}
.modal-header {
  background-color: #007bff;
  color:white;
  text-align:center;
  }
